# Ignora tutto
*

# Mantieni solo questa cartella
!/wp-content/
!/wp-content/themes/
!wp-content/themes/**

# Ignora eventuali file temporanei o cache
*.log
*.tmp
*.bak
.DS_Store
.idea/
.vscode/
node_modules/
