.site-footer {
    padding: 30px 30px 60px 20px !important;
    background-color: var(--e-global-color-secondary) !important;
    margin-top: -2px;
    a, p {
        color: white;
        font-size: 16px !important;
        font-weight: 500;
        line-height: 1;
    }

    .footer-inner{
        max-width:  1200px !important;
    }

    .logo-footer{
        width: 206px !important;
    }

    a{
        &:hover{
            color: var( --e-global-color-primary ) !important;
        }
    }
}

#menu-menu-principale-3{
    list-style-type: none;
    padding-left: 0;
    a{
        color: black;
    }
}

.social-footer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    i{
        font-size: 18px;
        color: black;
    }
}
@media screen and (max-width: 768px) {
    .site-footer {
        padding: 20px 10px 40px 10px !important;
        
        a{
            word-wrap: break-word;
        }


    }
}
