@import url("https://use.typekit.net/ftz7chg.css");

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span,
input,
textarea,
button {
  font-family: "futura-pt", "futura-pt-bold", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.futura-book {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.futura-book-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.futura-book-medium {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.futura-book-medium-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.futura-heavy {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.futura-heavy-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.futura-bold {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.futura-bold-italic {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: italic;
}

html,
body {
  scroll-behavior: smooth;
}

.entry-title {
  display: none !important;
}

.wpcf7-response-output {
  color: white;
}

.custom-shortcode {
  width: 100%;

  .form-invitation input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .wpcf7-spinner {
    position: absolute;
  }

  .double {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .field {
      width: calc(50% - 5px);
    }
  }

  input {
    color: white;
    background-color: #475059;
    border-radius: 12px !important;
    border: 0 !important;

    &::placeholder {
      color: white;

    }
  }

  .wpcf7-submit {
    text-transform: uppercase;
    border-radius: 25px !important;
    font-weight: 500;
    padding: 8px 20px;
  }
}

.button-field {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .btn-primary {
    font-size: 20px !important;
    color: #323C46 !important;
    border-radius: 25px !important;
    text-transform: uppercase !important;
    padding: 12px 20px;
    border: 0 !important;
    font-weight: 400 !important;
    font-family: "futura-pt", "futura-pt-bold", sans-serif !important;
    background-color: #E13C32 !important;

    &:hover {
      color: #E13C32 !important;
    }
  }
}

@media screen and (max-width: 1000px) {

  .custom-shortcode {
    .button-field {
      display: block;

      a {
        margin-bottom: 10px;
      }
    }

    .double {
      flex-direction: column;
      gap: 0px;

      .field {
        width: 100%;
      }
    }

  }
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.btn,
.btn-primary {
  padding: 14px 24px !important;
  background-color: var(--e-global-color-secondary) !important;
  font-size: 18px !important;
  line-height: 1em !important;
  fill: var(--e-global-color-b543eca) !important;
  color: var(--e-global-color-b543eca) !important;
  border-radius: 4px 4px 4px 4px !important;
  border: 0 !important;
  transition: all 0.3s ease-in-out;
  font-size: 24px !important;

  &:hover {
    border: 0 !important;
    background-color: white !important;
    color: #E13C32 !important;
  }

  &:focus,
  &:focus-visible {
    box-shadow: none;
  }
}

.modal {

  .modal-header {
    border: 0 !important;
  }

  .modal-header {
    position: absolute;
    z-index: 2;
    right: 0;
    cursor: pointer;

    i {
      font-size: 24px;
    }
  }

  .modal-body {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.body-partecipa {
      max-width: 70%;
      margin: 0 auto;
    }

    h3 {
      font-size: 24px !important;
      font-weight: 400 !important;
      line-height: 1 !important;
    }
  }

  .modal-content {
    background-color: var(--e-global-color-secondary) !important;

    * {
      color: white !important;
    }

    .btn-close {
      background-color: transparent !important;
      border: 0 !important;
    }

    .wpcf7-response-output {
      margin: 0;
      width: fit-content;
      margin: 0 auto;
      background: #46b45066;
      padding: 10px 20px;
      border-radius: 6px;
    }
  }
}

.wpcf7-not-valid-tip {
  text-align: left;
  padding-top: 5px;
  padding-left: 16px;
}

@media screen and (max-width: 768px) {
  .modal {

    .modal-header {
      border: 0 !important;
    }

    .modal-header {
      position: absolute;
      z-index: 2;
      right: 0;
      cursor: pointer;

      i {
        font-size: 24px;
      }
    }

    .modal-body {
      min-height: 60vh;

      &.body-partecipa {
        max-width: 100%;
      }

    }
  }

}

.invert-block{
  display: flex;
  flex-direction: column-reverse;
}