@import url("https://use.typekit.net/ftz7chg.css");

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span,
input,
textarea,
button {
  font-family: "futura-pt", "futura-pt-bold", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.futura-book {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.futura-book-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.futura-book-medium {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.futura-book-medium-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.futura-heavy {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.futura-heavy-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.futura-bold {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.futura-bold-italic {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: italic;
}

html,
body {
  scroll-behavior: smooth;
}

.home {
  padding-right: 0 !important;
}

.entry-title {
  display: none !important;
}

.wpcf7-response-output {
  color: white;
  border: 0 !important;
  font-size: 13px !important;
}

.custom-shortcode {
  width: 100%;

  .form-invitation input[type="submit"]:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .wpcf7-spinner {
    position: absolute;
  }

  .double {
    display: flex;
    flex-direction: row;
    gap: 10px;

    .field {
      width: calc(50% - 5px);
    }
  }

  input {
    color: white;
    background-color: #475059;
    border-radius: 12px !important;
    border: 0 !important;

    &::placeholder {
      color: white;

    }
  }

  .wpcf7-submit {
    text-transform: uppercase;
    border-radius: 25px !important;
    font-weight: 500;
    padding: 8px 20px;
  }
}

.button-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 280px;
  margin: 0 auto;

  .btn-primary {
    font-size: 16px !important;
    color: white !important;
    border-radius: 25px !important;
    text-transform: uppercase !important;
    padding: 12px 20px;
    border: 0 !important;
    font-weight: 400 !important;
    font-family: "futura-pt", "futura-pt-bold", sans-serif !important;
    background-color: #E13C32 !important;

    &:hover {
      color: white !important;
    }
  }
}

@media screen and (max-width: 1000px) {

  .custom-shortcode {
    .button-field {

      a {
        margin-bottom: 10px;
      }
    }

    .double {
      flex-direction: column;
      gap: 0px;

      .field {
        width: 100%;
      }
    }

  }
}

.btn-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.btn-container {

  .btn,
  .btn-primary {
    padding: 14px 24px !important;
    background-color: transparent !important;
    line-height: 1em !important;
    fill: var(--e-global-color-b543eca) !important;
    color: var(--e-global-color-b543eca) !important;
    border-radius: 25px !important;
    border: 1px solid white !important;
    transition: all 0.3s ease-in-out;
    font-size: 24px !important;
    text-transform: uppercase;
    font-weight: 500 !important;
    min-width: 280px;

    @media screen and (max-width: 768px) {
      font-size: 18px !important;
    }


    &:hover {
      background-color: white !important;
      color: #E13C32 !important;
    }

    &:focus,
    &:focus-visible {
      box-shadow: none;
    }
  }
}


.modal {

  .modal-dialog {
    max-width: 900px !important;
  }

  .modal-header {
    border: 0 !important;
  }

  .modal-header {
    position: absolute;
    z-index: 2;
    right: 0;
    cursor: pointer;

    i {
      color: white;
      font-size: 24px;
    }
  }

  .modal-body {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.body-partecipa {
      max-width: 70%;
      margin: 0 auto;
    }

    h3 {
      font-size: 24px !important;
      font-weight: 400 !important;
      line-height: 1 !important;
    }
  }

  .modal-content {
    background-color: var(--e-global-color-secondary) !important;

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    input {
      color: white !important;
    }

    .btn-close {
      background-color: transparent !important;
      border: 0 !important;
    }

    .wpcf7-response-output {
      margin: 0;
      width: fit-content;
      margin: 0 auto;
      padding: 10px 20px;
      border-radius: 6px;
    }
  }
}

.wpcf7 .wpcf7-response-output {
  color: black;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #46b450;
  background: #46b45066;
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: #E13C32;
  background: #e13b3265;
}

.wpcf7 form.spam .wpcf7-response-output {
  border-color: #f56e28;
  background: #f56c2882;
  /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #ffb900;
  background: #ffbb0063;
}

.wpcf7-not-valid-tip {
  color: #E13C32 !important;
  text-align: left;
  padding-top: 5px;
  padding-left: 16px;
}

@media screen and (max-width: 768px) {
  .modal {

    .modal-header {
      border: 0 !important;
    }

    .modal-header {
      position: absolute;
      z-index: 2;
      right: 0;
      cursor: pointer;

      i {
        font-size: 24px;
      }
    }

    .modal-body {
      min-height: 60vh;

      &.body-partecipa {
        max-width: 100%;
      }

    }
  }

}

.invert-block {
  display: flex;
  flex-direction: column-reverse;
}



// Inizio override modale bianco
.modal .modal-content {
  background-color: white !important;
  min-height: 66vh;
}

.modal .modal-content p,
.modal .modal-content h1,
.modal .modal-content h2,
.modal .modal-content h3,
.modal .modal-content h4,
.modal .modal-content h5,
.modal .modal-content h6,
.modal .modal-content button,
.modal .modal-header i {
  color: var(--e-global-color-primary) !important;
}

.elementor-kit-10 button,
.elementor-kit-10 input[type="button"],
.elementor-kit-10 input[type="submit"],
.elementor-kit-10 .elementor-button {
  color: white !important;
}

// Fine override modale bianco

@media screen and (max-width: 1000px) {
  #site-header {
    display: none;
  }
}