@charset "UTF-8";
@import url("https://use.typekit.net/ftz7chg.css");
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
span,
input,
textarea,
button {
  font-family: "futura-pt", "futura-pt-bold", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}

.futura-book {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.futura-book-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.futura-book-medium {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.futura-book-medium-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.futura-heavy {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.futura-heavy-italic {
  font-family: "futura-pt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.futura-bold {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.futura-bold-italic {
  font-family: "futura-pt-bold", sans-serif;
  font-weight: 700;
  font-style: italic;
}

html,
body {
  scroll-behavior: smooth;
}

.home {
  padding-right: 0 !important;
}

.entry-title {
  display: none !important;
}

.wpcf7-response-output {
  color: white;
  border: 0 !important;
  font-size: 13px !important;
}

.custom-shortcode {
  width: 100%;
}
.custom-shortcode .form-invitation input[type=submit]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.custom-shortcode .wpcf7-spinner {
  position: absolute;
}
.custom-shortcode .double {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.custom-shortcode .double .field {
  width: calc(50% - 5px);
}
.custom-shortcode input {
  color: white;
  background-color: #475059;
  border-radius: 12px !important;
  border: 0 !important;
}
.custom-shortcode input::-moz-placeholder {
  color: white;
}
.custom-shortcode input::placeholder {
  color: white;
}
.custom-shortcode .wpcf7-submit {
  text-transform: uppercase;
  border-radius: 25px !important;
  font-weight: 500;
  padding: 8px 20px;
}

.button-field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 280px;
  margin: 0 auto;
}
.button-field .btn-primary {
  font-size: 16px !important;
  color: white !important;
  border-radius: 25px !important;
  text-transform: uppercase !important;
  padding: 12px 20px;
  border: 0 !important;
  font-weight: 400 !important;
  font-family: "futura-pt", "futura-pt-bold", sans-serif !important;
  background-color: #E13C32 !important;
}
.button-field .btn-primary:hover {
  color: white !important;
}

@media screen and (max-width: 1000px) {
  .custom-shortcode .button-field a {
    margin-bottom: 10px;
  }
  .custom-shortcode .double {
    flex-direction: column;
    gap: 0px;
  }
  .custom-shortcode .double .field {
    width: 100%;
  }
}
.btn-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.btn-container .btn,
.btn-container .btn-primary {
  padding: 14px 24px !important;
  background-color: transparent !important;
  line-height: 1em !important;
  fill: var(--e-global-color-b543eca) !important;
  color: var(--e-global-color-b543eca) !important;
  border-radius: 25px !important;
  border: 1px solid white !important;
  transition: all 0.3s ease-in-out;
  font-size: 24px !important;
  text-transform: uppercase;
  font-weight: 500 !important;
  min-width: 280px;
}
@media screen and (max-width: 768px) {
  .btn-container .btn,
  .btn-container .btn-primary {
    font-size: 18px !important;
  }
}
.btn-container .btn:hover,
.btn-container .btn-primary:hover {
  background-color: white !important;
  color: #E13C32 !important;
}
.btn-container .btn:focus, .btn-container .btn:focus-visible,
.btn-container .btn-primary:focus,
.btn-container .btn-primary:focus-visible {
  box-shadow: none;
}

.modal .modal-dialog {
  max-width: 900px !important;
}
.modal .modal-header {
  border: 0 !important;
}
.modal .modal-header {
  position: absolute;
  z-index: 2;
  right: 0;
  cursor: pointer;
}
.modal .modal-header i {
  color: white;
  font-size: 24px;
}
.modal .modal-body {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.modal .modal-body.body-partecipa {
  max-width: 70%;
  margin: 0 auto;
}
.modal .modal-body h3 {
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 1 !important;
}
.modal .modal-content {
  background-color: var(--e-global-color-secondary) !important;
}
.modal .modal-content p,
.modal .modal-content h1,
.modal .modal-content h2,
.modal .modal-content h3,
.modal .modal-content h4,
.modal .modal-content h5,
.modal .modal-content h6,
.modal .modal-content button,
.modal .modal-content input {
  color: white !important;
}
.modal .modal-content .btn-close {
  background-color: transparent !important;
  border: 0 !important;
}
.modal .modal-content .wpcf7-response-output {
  margin: 0;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 6px;
}

.wpcf7 .wpcf7-response-output {
  color: black;
}

.wpcf7 form.sent .wpcf7-response-output {
  border-color: #46b450;
  background: rgba(70, 180, 80, 0.4);
}

.wpcf7 form.failed .wpcf7-response-output,
.wpcf7 form.aborted .wpcf7-response-output {
  border-color: #E13C32;
  background: rgba(225, 59, 50, 0.3960784314);
}

.wpcf7 form.spam .wpcf7-response-output {
  border-color: #f56e28;
  background: rgba(245, 108, 40, 0.5098039216);
  /* Orange */
}

.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #ffb900;
  background: rgba(255, 187, 0, 0.3882352941);
}

.wpcf7-not-valid-tip {
  color: #E13C32 !important;
  text-align: left;
  padding-top: 5px;
  padding-left: 16px;
}

@media screen and (max-width: 768px) {
  .modal .modal-header {
    border: 0 !important;
  }
  .modal .modal-header {
    position: absolute;
    z-index: 2;
    right: 0;
    cursor: pointer;
  }
  .modal .modal-header i {
    font-size: 24px;
  }
  .modal .modal-body {
    min-height: 60vh;
  }
  .modal .modal-body.body-partecipa {
    max-width: 100%;
  }
}
.invert-block {
  display: flex;
  flex-direction: column-reverse;
}

.modal .modal-content {
  background-color: white !important;
  min-height: 66vh;
}

.modal .modal-content p,
.modal .modal-content h1,
.modal .modal-content h2,
.modal .modal-content h3,
.modal .modal-content h4,
.modal .modal-content h5,
.modal .modal-content h6,
.modal .modal-content button,
.modal .modal-header i {
  color: var(--e-global-color-primary) !important;
}

.elementor-kit-10 button,
.elementor-kit-10 input[type=button],
.elementor-kit-10 input[type=submit],
.elementor-kit-10 .elementor-button {
  color: white !important;
}

/* Stati base */
.block, .wpcf7, .save-date, .show-after {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Fade-out: opacità a 0 */
.fade-out {
  opacity: 0 !important;
}

/* Fade-in: parte da opacità 0 e diventa visibile */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/* Nascondi del tutto quando finita la transizione */
.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  #site-header {
    display: none;
  }
  h2 {
    font-size: 24px !important;
  }
  h1 {
    padding: 0 10px !important;
  }
  .btn-container .btn, .btn-container .btn-primary {
    min-width: 220px !important;
  }
}/*# sourceMappingURL=style.css.map */